.feature-list--lessons li {
    padding: 0rem;
}

.feature--lessons {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 40rem;

  border: 3px solid var(--color-primary);
  border-radius: 1rem;
}

.feature--lessons img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.feature--lessons figcaption {
  position: absolute;

  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1.5rem;

  color: var(--color-text-light);
  text-align: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
}
.feature--lessons:hover figcaption {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
}
.feature--lessons figcaption p {
  font-size: var(--size-small);
}

.schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.schedule__title {
  font-size: var(--size-bigger);
}

.schedule__list {
  list-style: none;

  margin: 1rem 0;
  padding: 3rem 5rem;

  border: 0.3rem solid var(--color-primary);
  border-radius: 1rem;
}

.schedule__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 4rem;

  margin-bottom: 1rem;

  border-bottom: 0.1rem solid var(--color-primary);
}

.schedule__item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.schedule__day {
  width: 20rem;
  flex-shrink: 0;
}

.schedule__day,
.schedule__class {
  font-size: var(--size-big);
  font-weight: 700;
}

.schedule__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 10rem;

  border-left: 0.1rem solid var(--color-primary);
}

.back-to-top {
  position: fixed;

  right: 2rem;
  bottom: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;

  border-radius: 50%;

  background-color: var(--color-primary);
  color: var(--color-text-light);

  font-size: 1.5rem;
  text-decoration: none;
}
