.feature-list--lessons img {
  border: none;
  display: block;
}
.feature-list--lessons {
  display: flex;
  flex-wrap: wrap;
}
.feature-list--lessons li {
  flex: 1 1 20rem;
}
.feature--lessons {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  border: 3px solid var(--color-primary);
}
.feature--lessons figcaption {
  position: absolute;
  inset: 0;
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
}
.feature--lessons:hover figcaption {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));
}

.schedule__title {
  /* font-size: var(--size); */
  /* text-align: center; */
  /* margin-bottom: 2rem; */
  font-size: var(--size-bigger);
}
.schedule {
  margin: 4rem 0;
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.schedule__list {
  list-style: none;
  padding: 3rem 5rem;
  margin: 1rem 0;
  border: 0.3rem solid var(--color-primary);
  border-radius: 1rem;
}

.schedule__day,
.schedule__class {
  font-weight: 700;
  font-size: var(--size-big);
}

.schedule__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid var(--color-primary);
}
.schedule__item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.schedule__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
  padding-right: 10rem;
  border-left: 0.1rem solid var(--color-primary);
  padding-left: 2rem;
}

.schedule__day {
  width: 20rem;
  flex-shrink: 0;
}

.back-to-top {
  position: fixed;

  bottom: 2rem;
  right: 2rem;

  width: 3rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: var(--color-primary);
  color: var(--color-text-light);

  text-decoration: none;
  font-size: 1.5rem;
}
