@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf)
    format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf)
    format('truetype');
  font-style: italic;
}

:root {
  --color-text: #1f2937;
  --color-text-light: #e5e7eb;
  --color-primary: #3882f6;
  --color-background-light: #f9faf8;

  --size-hero: 4.8rem;
  --size-bigger: 3.6rem;
  --size-big: 2.4rem;
  --size-normal: 1.8rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;

  box-sizing: border-box;

  font-size: var(--size-normal);
  color: var(--color-text);
}
