.quote-section{
    background-color: var(--color-text-light);
    justify-content:center;
    padding: 100px;
}

.quote-section .text{
    font-size: var(--size-bigger);
    font-weight: light;
    color: var(--color-text);
    text-align: center;
}
.quote-section .author{
    font-size: var(--size-big);
    color: var(--color-text);
    text-align: right;
}
header {
  background-color: var(--color-text);
  padding: 0 0rem;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header-links {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.header-links a {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: var(--size-normal);
}

.header-links a.active {
  font-weight: bold;
  text-decoration: underline;
}

.header-links a:hover {
  font-weight: bold;
}

.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 2rem 0 8rem;
}

.header-body-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.header-body-title {
  font-size: var(--size-hero);
  font-weight: extra-bold;
  color: var(--color-text-light);
  line-height: 1.1;
}

.header-body-subtext {
  font-size: var(--size-normal);
  color: #e5e7eb;
}

.btn-primary {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  padding: 0.8rem 3.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-size: var(--size-normal);
  font-weight: 700;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--color-text-light);
  color: var(--color-primary);
}

.header-body-image {
  flex: 1;
  max-height: 300px;
  overflow: hidden;
  border-radius: none;
}

.header-body-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature {
  min-width: 19rem;

  overflow: hidden;
}
.feature img {
  width: 100%;

  object-fit: cover;

  border: 2px solid var(--color-primary);
  border-radius: 10px;
}
.feature figcaption {
  font-size: var(--size-normal);
  text-align: center;
  margin-top: 0.5rem;
}

.feature-list {
  display: flex;
  list-style: none;
  gap: 3rem;
  justify-content: space-around;
}
/* -------------------------------cta - footer----------------------------------- */
.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-primary);
  border-radius: 0.5rem;
  color: var(--color-text-light);

  width: fit-content;
  padding: 5rem 10rem;
  margin: 10rem auto 10rem auto;
  font-size: var(--size-normal);
}

.cta__button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2rem;
  margin-left: 10rem;
}
.cta__button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 4rem;
  color: var(--color-text-light);
  background-color: var(--color-primary);
  font-size: var(--size-normal);
  font-weight: 700;
  border: 0.3rem solid var(--color-text-light);
  border-radius: 0.7rem;
  cursor: pointer;
}

.footer {
  text-align: center;
  background-color: var(--color-text);

  padding: 3rem 0;
  color: var(--color-text-light);
}
